*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out
*.d
.idea/
.vscode/
.qmake.stash
*.pro.user
*.pro.user.*
*.pro.user.*
*.autosave
*.pro
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
Thumbs.db
*.DS_Store
.directory

